# Development files
node_modules/
coverage/
.DS_Store
*.log
.env
.env.*

# Keep examples dist, but ignore example node_modules
examples/**/node_modules/
examples/**/.cache
examples/**/.env
examples/**/.env.*
examples/**/package-lock.json

# Don't ignore examples/react/dist
!examples/react/dist/